@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Libre+Baskerville|Raleway:400,700');

//font-family: 'Oswald', sans-serif;
//font-family: 'Libre Baskerville', serif;

body {
	background: #efeff4;
	background-attachment: fixed;
	margin: 0; padding: 0;
}

body, input {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Source sans pro", sans-serif;
}

header input[type=search] {
	margin: 0;
	background: #E6E6E9;
	border: 0;
	border-radius: 10px;
	font-size: 12pt;
	padding: 8px 10px;
	padding-left: 30px;
	color: black;
	-webkit-appearance: none;
	transition: all 100ms;
	background-image: url("res/icons/search.svg");
	background-repeat: no-repeat;
	background-position: left center;
	outline: 0;
}

header.shrink input[type=search] {
	font-size: 10pt;
	padding: 4px 8px;
	padding-left: 20px;
}